<%- include('../../views/partials/header.ejs')%>

<div class="container w-50 mt-5">
    <h1 class="text-danger">
        404.
        Esta pagina no existe
        <a href="/login">Ir al login</a>
    </h1>

</div>
<%- include('../../views/partials/footer.ejs')%>
