<!-- <div class="wrapper">
    <nav id="sidebar">
 
       <ul class="list-unstyled components">
          <li>
            agregar un icono 
            <a href="/panel">Panel</a>
           </li>
           <li>
             agregar un icono 
            <a href="/update">Actualizar</a>
           </li>
           <li>
             agregar un icono 
            <a href="/product/new">nuevo productos</a>
           </li>
           <li>
            agregar un icono 
            <a href="/product/search">Buscar producto</a>
           </li>
        </ul>
    </nav>
</div> -->