<%- include('../../views/partials/header.ejs')%>
<div class="col-9">
    <div class="container p-3 w-100">
        <h1 class="mt-5 mb-4">Todos los usuarios</h1>
        <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Acciones</th>

                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>pepe</td> 
                <td>pepe@gmail.com</td> 
               <td>
                <a class="btn btn-primary" href="/edit">editar</a>  
                <form action="/delete/user/" method="">
                    <button class="btn btn-danger ml-2">Eliminar</button>
                </form>
                
            
            </td> 
            </tr>
            </tbody>
        </table>
    </div>
</div>


<%- include('../../views/partials/footer.ejs')%>
